html{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5ea906bfb2891a7f00d30604/1595210701771-ZAQP2E8C0CXVNCN7UP4W/BACK.png?format=2500w");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}

h1 {
    text-align: center;
    font-family: 'Parisienne', cursive;
    padding: 15px;
    /*background-color: ;*/
color: black}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3333338a;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}