body{
    background-image: url("https://images.unsplash.com/photo-1617395440873-63f6e7f25139?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    font-family: 'Parisienne', cursive;
    padding: 15px;
    /*background-color: ;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3333338a;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}