<header class="header" th:fragment="header" xmlns:th="http://www.springframework.org/schema/security">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{./homeStyle.css}">

  <nav>
    <span th:unless="${principal == null}">
      <li><a href="http://localhost:8080/">Home</a></li>
      <li><a href="http://localhost:8080/profile">Profile </a></li>
      <li><a href="http://localhost:8080/profile">Posts </a></li>
      <li> <a href="/logout">Log out</a> </li>
        </span>
    <span th:if="${principal == null}">
    <ul>
      <li><a href="http://localhost:8080/">Home</a></li>
      <li><a href="http://localhost:8080/signup">Sign Up </a></li>
      <li><a href="http://localhost:8080/login">login  </a></li>
      <li><a href="http://localhost:8080/profile">Profile </a></li>
      <li><a href="about.asp">About</a></li>
    </ul>
          <h1> Welcome to Codefellowship</h1>
    </span>


  </nav>
</header>