<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/profileStyle.css}">
    <title>Profile page </title>
</head>
<body>

<div th:replace="fragment/header :: header">...</div>
<h1  th:text="${principal}" style="text-align: center ; font-family: Algerian" > </h1>
<div class="container">

    <div class="avatar-flip">
        <img src="https://media.giphy.com/media/AAmhvrZzLCz1m/giphy.gif" height="150" width="150"/>
    </div>

    <h4>Username: <span th:text="${appUser.getUsername()}"></span></h4>
    <h2><span th:text="${appUser.getFirstname + ' ' + appUser.getLastname}"></span></h2>
<!--    <h2> <span th:text="${appUser.getLastname}"></span></h2>-->
    <h4>Date of Birth: <span th:text="${appUser.dateOfBirth}"></span></h4>
    <p> Followings: <h4 th:text="${counter}"></h4>
    </p>

    <p>Bio: <span th:text="${appUser.getBio}"></span></p>



</div>

<h2>Followings </h2>

<ul  style="width: 7rem" class="following-list">
    <li th:each="user : ${followings}">
        <a class="following" th:href="@{'/users/' + ${user.id}}">
            <span th:text="${user.firstname}"></span>
            <span th:text="${user.lastname}"></span>
        </a>

    </li>
</ul>

<h1 style="text-align: center"> Add Post to Your Profile </h1>
<form method="post" action="/post" >

    <p><label for="body">Create a post</label>
        <textarea class="post" name="body" id="body" placeholder="what you are thinking ... ?" ></textarea></p>

        <input style="margin-left: 719px" type="submit" />
</form>

<h2 style="text-align: center">My Posts</h2>
    <h2 th:each="post : ${appUser.posts}">
        <div class="row">
            <div class="column">
                <div class="card">
                    <h3>  <span th:text="${post.getBody}"> </span> </h3>
                    <p> posted by :  <span th:text="${post.getAppUser().getUsername()}"></span></p>
                    <p> <span th:text="${post.getCreatedAt}"> </span> </p>

                </div>
            </div>
        </div>
    </h2>





</body>
</html>