<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Sign Up </title>
    <link rel="stylesheet" th:href="@{/signupStyle.css}">
</head>
<body>
<form method="POST" action="/usercreate" style="border:1px solid #ccc">
    <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label ><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label ><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label ><b>firstName</b></label>
        <input type="text" placeholder="Enter you first name" name="firstname" required>

        <label ><b>lastName</b></label>
        <input type="text" placeholder="Enter you last name" name="lastname" required>

        <label ><b>dateOfBirth</b></label>
        <input type="date" placeholder="Enter you birth date" name="dateOfBirth" required>
<br>
        <label ><b>bio</b></label>
        <input type="text" placeholder="Enter you Bio" name="bio" required>

        <div class="clearfix">
        <a href="http://localhost:8080/">
            <button type="button"  class="cancelbtn">Cancel</button>
        </a>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>
</body>
</html>